version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin@1234
      POSTGRES_DB: mydbx
    ports:
        - "5432:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data
volumes:
        postgres_data:



